<mat-toolbar>
  <span class="brand">Football Open Game</span>

  <span class="spacer"></span>
  @if(isMobile){
    <button mat-button [matMenuTriggerFor]="menu">
      More
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      @if(role === "User"){
        <button mat-menu-item routerLink="">Home</button>
        <button mat-menu-item routerLink="team/squad">Squad</button>
        <button mat-menu-item routerLink="team/tactics">Tactics</button>
        <button mat-menu-item routerLink="world-map">Competitions</button>
      }
      @else if(role === "Host"){
        <button mat-menu-item routerLink="">Dashboard</button>
        @if (authService.currentServerID) {
          <button mat-menu-item [routerLink]="'/server/' + authService.currentServerID">Server</button>
        }
        <button mat-menu-item routerLink="competitions-management">Competitions</button>
        <button mat-menu-item routerLink="about">Teams</button>
      }
      @else if(role === "Admin"){
        <button mat-menu-item routerLink="servers">Servers</button>
        <button mat-menu-item routerLink="register">Users</button>
        <button mat-menu-item routerLink="about">Logs</button>
      }
      <button mat-menu-item routerLink="contact">Account</button>
      <button mat-menu-item routerLink="contact">Contact</button>
      <button mat-menu-item routerLink="help">Help</button>
      <button mat-menu-item routerLink="help">Settings</button>
      <button mat-menu-item (click)="testConnection()">Test</button>
      <button mat-menu-item (click)="logOut()">Sign Out</button>
    </mat-menu>
  }
</mat-toolbar>
