
<mat-form-field class="w-full" appearance="fill">
    <mat-label>{{ labelText }}</mat-label>

    <input matInput [type]="inputType" [disabled]="disabled" class="bg-transparent hover:bg-transparent"
        [value]="value ?? ''" (input)="onInput($any($event.target).value)" (blur)="onBlur()"/>

    @if (type === 'password' && showToggle) {
    <button
      mat-icon-button
      matSuffix
      type="button"
      (mousedown)="$event.preventDefault()"
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
    >
      <mat-icon>
        {{ hidePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </button>
  }

    @if (hasError && errorMessage) {
        <mat-error>{{ errorMessage }}</mat-error>
    }

    @if (hintText && !hasError) {
        <mat-hint>{{ hintText }}</mat-hint>
    }
</mat-form-field>