<div class="grid grid-cols-1 lg:grid-cols-7 w-full">
  <div class="p-2 lg:col-span-3 max-w-[600px] min-w-0 flex flex-col">
    <div class="rounded-xl border-1 p-3 tableBorder flex">
      <div class="flex-col flex-1">
        <div class="py-2">
          <img src="assets/images/Blue_Team_Logo.png" class="block border rounded border-gray-900 bg-gray-900 max-h-[200px] max-w-[200px] w-auto h-auto"/>
        </div>
      </div>

      <div class="flex-col flex-1 flex justify-center">
        <div class="flex flex-col justify-center items-center">
          <span class="font-bold text-lg">{{teamName}}</span>
          <span class="text-sm">2nd in {{competitionName}}</span>
        </div>

        <div class="flex flex-col">
          <span class="underline">Next Fixture</span>
          <div class="py-2 flex flex-col items-center">
            <div class="flex w-full">
              <span class="w-full font-bold">Red Ones (H)</span>
            </div>
            <div class="flex w-full">
              <span class="w-full">Clear, 24 °C</span>
            </div>
          </div>
        </div>

        <div class="flex flex-col h-1/3">
          <span class="underline">Form</span>
          <div class="py-2 flex justify-center">
            <div class="px-1">
              <div class="border rounded flex items-center justify-center w-6 h-6">
                <span>W</span>
              </div>
            </div>
            <div class="px-1">
              <div class="border rounded flex items-center justify-center w-6 h-6">
                <span>W</span>
              </div>
            </div>
            <div class="px-1">
              <div class="border rounded flex items-center justify-center w-6 h-6">
                <span>D</span>
              </div>
            </div>
            <div class="px-1">
              <div class="border rounded flex items-center justify-center w-6 h-6">
                <span>L</span>
              </div>
            </div>
            <div class="px-1">
              <div class="border rounded flex items-center justify-center w-6 h-6">
                <span>D</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rounded-xl border-1 p-3 tableBorder flex mt-4 dashboard-kits-card">
      <div class="flex-col flex-1 flex items-start">
        <span class="font-bold">Kits</span>
        
        <div class="flex justify-center w-full py-6">

          <div class="kit-preview px-8">
            <span class="py-2">Home</span>
            <app-team-kit [kit]="kit" [isHome]="true" [showShorts]="true"></app-team-kit>
          </div>

          <div class="kit-preview px-8">
            <span class="py-2">Away</span>
            <app-team-kit [kit]="kit" [isHome]="false" [showShorts]="true"></app-team-kit>
          </div>
        </div>

      </div>
    </div>
  </div>

  @if(showPlayersTable){
    <div class="p-2 lg:col-span-2 max-w-[600px] min-w-0 dashboard-table">
      <app-data-table
        [data]="people"
        [columns]="$any(displayedColumns)">
      </app-data-table>
    </div>
  }

  <div class="p-2 lg:col-span-2 max-w-[600px] min-w-0 dashboard-table dashboard-fixtures-column">
    <app-information class="dashboard-information"></app-information>

    <app-data-table
      class="dashboard-fixtures-table"
      [data]="fixtures"
      [columns]="$any(displayedColumnsFixtures)">
    </app-data-table>
  </div>
</div>
