<div class="h-10 py-10">
    <h2>Tournaments</h2>
</div>
<div class="p-4">
    <div class="grid grid-cols-6 gap-4">
        <mat-card>
            <div class="w-full p-1 flex flex-col bg-gray-300 rounded-xl border">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/250px-Flag_of_Greece.svg.png" width="100%" alt="Greece">
                </div>
                <div>
                    <span class="text-black">Greece League 1</span>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="w-full p-1 flex flex-col">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/250px-Flag_of_Greece.svg.png" width="100%" alt="Greece">
                </div>
                <div>Greece League 2</div>
            </div>
        </mat-card>
        <mat-card>
            <div class="w-full p-1 flex flex-col">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/250px-Flag_of_Greece.svg.png" width="100%" alt="Greece">
                </div>
                <div>Greece League 3</div>
            </div>
        </mat-card>
        <mat-card>
            <div class="w-full p-1 flex flex-col">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/250px-Flag_of_Greece.svg.png" width="100%" alt="Greece">
                </div>
                <div>Greece League 4</div>
            </div>
        </mat-card>
        <mat-card>
            <div class="w-full p-1 flex flex-col">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/1920px-Flag_of_England.svg.png" width="100%" alt="Greece">
                </div>
                <div>English League 1</div>
            </div>
        </mat-card>
        <mat-card>
            <div class="w-full p-1 flex flex-col">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/1920px-Flag_of_England.svg.png" width="100%" alt="Greece">
                </div>
                <div>English League 2</div>
            </div>
        </mat-card>
        <mat-card>
            <div class="w-full p-1 flex flex-col">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/1920px-Flag_of_England.svg.png" width="100%" alt="Greece">
                </div>
                <div>English League 3</div>
            </div>
        </mat-card>
        <mat-card>
            <div class="w-full p-1 flex flex-col">
                <div class="flex w-full rounded-xl border p-3 bg-gray-300 border-gray-300">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/1920px-Flag_of_England.svg.png" width="100%" alt="Greece">
                </div>
                <div>English League 4</div>
            </div>
        </mat-card>
    </div>
</div>
