button.action-button-secondary:hover {
  background-color: #3b82f6 !important;
  color: white !important;
}

button.action-button-primary:hover {
  background-color: white !important;
  color: #3b82f6 !important;
}