<div class="rounded-xl border-1 p-3 tableBorder">
  <table mat-table [dataSource]="renderedData" [class]="tableClass" matSort (matSortChange)="onSort($event)">

    @for (col of columns; track col.key) {
      <ng-container [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
          [class.dt-header-center]="col.align === 'center'"
          [class.dt-header-right]="col.align === 'right'"
          [disabled]="col.sortable !== true"
          [style.width]="col.width"
          [ngClass]="col.headerClass">
          {{ col.header }}
        </th>

        <td mat-cell *matCellDef="let row"
          [class.dt-align-left]="col.align === 'left'"
          [class.dt-align-center]="col.align === 'center'"
          [class.dt-align-right]="col.align === 'right'"
          [ngClass]="col.cellClass">
          @if (!col.cellTemplate) {
            {{ $any(row)[col.key] }}
          }
          @else {
            <ng-container *ngTemplateOutlet="col.cellTemplate; context: { $implicit: row, value: $any(row)[col.key] }"></ng-container>
          }
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayed"></tr>
    <tr mat-row *matRowDef="let row; columns: displayed" (click)="onRowClick(row)" [class.clickable]="rowClick.observed"></tr>
  </table>

  @if (pageSize > 0) {
    <mat-paginator
      [length]="data.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      (page)="onPage($event)"
      showFirstLastButtons>
    </mat-paginator>
  }
</div>