<div class="flex flex-col">
    <div class="flex-1 flex flex-row bg-gray-300 h-7 py-2 justify-center">
        <app-link-button class="px-2" buttonText="Leagues" (clicked)="navigateTo('competitions/leagues')"></app-link-button>
        <app-link-button class="px-2" buttonText="Cups" (clicked)="navigateTo('competitions/cups')"></app-link-button>
        <app-link-button class="px-2" buttonText="Continentals" (clicked)="navigateTo('competitions/continentals')"></app-link-button>
    </div>
    <!-- <div class="h-full">
        <router-outlet></router-outlet>
    </div> -->
</div>
