<div class="p-2">
    <ng-template #shirtNumberTemplate let-player>
        @if (canEditShirtNumbers) {
            <mat-select
                class="shirt-number-select"
                panelClass="shirt-number-select-panel"
                [value]="player.shirtNumberValue"
                (click)="onShirtNumberDropdownClick($event)"
                (selectionChange)="onShirtNumberSelectionChange($event.value, player)">
                <mat-select-trigger>
                    {{ player.shirtNumberValue ?? '-' }}
                </mat-select-trigger>
                @for (option of shirtNumberOptions; track option.value) {
                    <mat-option [value]="option.value">{{ option.label }}</mat-option>
                }
            </mat-select>
        } @else {
            <span class="shirt-number-readonly">
                {{ player.shirtNumberValue ?? '-' }}
            </span>
        }
    </ng-template>

    <ng-template #nationalityTemplate let-player>
        @if (player.nationalityFlagUrl) {
            <img
                class="nationality-flag"
                [src]="player.nationalityFlagUrl"
                [alt]="player.nationalityName + ' flag'"
                [title]="player.nationalityName" />
        } @else {
            <span>-</span>
        }
    </ng-template>

    <app-card appearance="outlined">
        <header class="squad-header">
            <h1 class="squad-team-name">{{ teamName }}</h1>
            @if (leagueName) {
                <button
                    type="button"
                    class="squad-league-name"
                    [disabled]="!leagueID"
                    (click)="openCompetition()">
                    {{ leagueName }}
                </button>
            }
        </header>

        <app-data-table
            [data]="people"
            class="players-theme"
            [columns]="$any(displayedColumns)"
            [initialSort]="{ active: 'position', direction: 'asc' }"
            (rowClick)="onPlayerClick($event)">
        </app-data-table>
    </app-card>
</div>
